#3d-page {
    height: 100%;
    display: flex
}

#three-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#chart-container-right-top {
    top: 15%;
    right: 2%;
}

#chart-container-right-bottom {
    bottom: 10%;
    right: 2%;
}

#chart-container-left-top {
    top: 15%;
    left: 2%;
}

#chart-container-left-bottom {
    bottom: 10%;
    left: 2%;
}

#goto-main {
    width: 150px;
    height: 40px;
    background: #1adad9;
    border-radius: 5px;
    font-size: 20px;
    color: #000;
    position: absolute;
    bottom: 4%;
    right: 8%;
    font-weight: bold;
}

h1 {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 20px;
    margin: 0 auto;
    text-align: center;
}

h3 {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 60px;
    margin: 0 auto;
    text-align: center;
}

.chart-container {
    padding-left: 5px;
    border: none;
    background: url("../res/chartBk.png");
    background-size: 118% 193%;
    background-position: 51% -159%;
    overflow: hidden;
    position: absolute;
    height: 30%;
    width: 20%;
    padding-bottom: 12px;
    background-clip: content-box;
    background-color: #070b0c;
    border-radius: 20px;
}
