/*#three-container body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}*/
/*#info-container{
	overflow: auto;
	font-size: 12px;
}
#info-container p{
	margin: 3px;
}*/
#three-container hr {
	border: 0;
	border-top: 1px solid #ccc;
}

#three-container button {
	position: relative;
}

#three-container textarea {
	tab-size: 4;
	white-space: pre;
	word-wrap: normal;
}

	#three-container textarea.success {
		border-color: #8b8 !important;
	}

	#three-container textarea.fail {
		border-color: #f00 !important;
		background-color: rgba(255,0,0,0.05);
	}

#three-container textarea, input { outline: none; } /* osx */

#three-container .Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

/* CodeMirror */

#three-container .CodeMirror {

	position: absolute !important;
	top: 37px;
	width: 100% !important;
	height: calc(100% - 37px) !important;

}

	#three-container .CodeMirror .errorLine {

		background: rgba(255,0,0,0.25);

	}

	#three-container .CodeMirror .esprima-error {

		color: #f00;
		text-align: right;
		padding: 0 20px;

	}

/* outliner */

#three-container #outliner .option {

	border: 1px solid transparent;
}

#three-container #outliner .option.drag {

	border: 1px dashed #999;

}

#three-container #outliner .option.dragTop {

	border-top: 1px dashed #999;

}

#three-container #outliner .option.dragBottom {

	border-bottom: 1px dashed #999;

}

#three-container #outliner .type {
	position:relative;
	top:-2px;
	padding: 0 2px;
	color: #ddd;
}

#three-container #outliner .type:after {
	content: '■';
}

#three-container #outliner .Scene {
	color: #ccccff;
}

#three-container #outliner .Object3D {
	color: #aaaaee;
}

#three-container #outliner .Mesh {
	color: #8888ee;
}

#three-container #outliner .Line {
	color: #88ee88;
}

#three-container #outliner .LineSegments {
	color: #88ee88;
}

#three-container #outliner .Points {
	color: #ee8888;
}

/* */

#three-container #outliner .PointLight {
	color: #dddd00;
}

/* */

#three-container #outliner .Geometry {
	color: #88ff88;
}

#three-container #outliner .BoxGeometry {
	color: #bbeebb;
}

#three-container #outliner .TorusGeometry {
	color: #aaeeaa;
}

/* */

#three-container #outliner .Material {
	color: #ff8888;
}

#three-container #outliner .MeshPhongMaterial {
	color: #ffaa88;
}

/* */

#three-container #outliner .Script:after {
	content: '{...}' /* ❮/❯ */
}
